/*
 * @uthor: Ale Ruiz
 * Theme: Las Monjas | Clínica Podológica ***
 */

// Imports
@import "./variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

// Header
header {
  .navbar-brand {
    display: flex;
    .cont-subname {
      margin-left: 10px;
      width: 75px;
      @include media-breakpoint-up(sm) {
        display: flex;
        width: initial;
      }
      div {
        overflow: hidden;
        width: 75px;
        padding-left: 10px;
        border-left: 2px solid $lmcp-blue;
        font-size: 0.5em;
        @include media-breakpoint-up(sm) {
          width: initial;
          font-size: 1em;
        }
      }
      & :last-child {
        @include media-breakpoint-up(sm) {
          border: 0;
        }
      }
    }
  }
  .navbar {
    .navbar-nav {
      .nav-item {
        margin-left: 10px;
      }
      & :hover {
        background-color: $lmcp-blue;
        @include transition(background-color 0.8s);
        .nav-link {
          color: $lmcp-white;
        }
      }
      & .active {
        background-color: $lmcp-blue;
      }
    }
  }
  & .bg-light {
    background-color: $lmcp-white !important;
  }
  .nav-schudle {
      color: $lmcp-darkblue;
    @include media-breakpoint-up(lg) {
      font-size: 0.8em;
      display: flex;
      flex-direction: column;
    }
  }
  .text_schudele {
    font-size: 1.2em;
    font-weight: bold;
  }
  .schudele_more_info_btn{
    @include media-breakpoint-up(sm) {
        display: none;
      }
  }
  .margin-navbar-top {
    margin-top: 192px;
    @include media-breakpoint-up(sm) {
      margin-top: 96px;
    }
  }
  .cont-ima {
    overflow: hidden;
    width: 100%;
    @include media-breakpoint-up(lg) {
      border-color: lightcoral;
        height: 61vh;
    }
    @include media-breakpoint-up(xl) {
      border-color: pink;
        height: 68vh;
    }
  }
  // Message slider
  .over-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: $lmcp-darkblue, $alpha: 0.4);
    width: 100%;
    height: 100%;
  }
  .carousel-caption {
    position: absolute;
    max-width: 30%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 20%;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: initial;
    text-align: initial;
    //@include media-breakpoint-up(xs) {
      //border-color: orange;
    //}
    //@include media-breakpoint-up(sm) {
      //border-color: green;
    //}
    //@include media-breakpoint-up(md) {
      //border-color: blue;
    //}
    //@include media-breakpoint-up(lg) {
      //border-color: lightcoral;
    //}
    //@include media-breakpoint-up(xl) {
      //border-color: pink;
    //}
    .cont-text {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h5 {
        font-size: 2em;
        font-weight: bolder;
        color: #fff;
      }
      p {
        font-size: 1.5em;
        color: #d5d5d5;
      }
    }
  }
  .overCarousel {
    display: none;
    position: absolute;
    bottom: 0;
    right: 15%;
    max-width: 200px;
    overflow: hidden;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      display: flex;
    }
    .free-space {
      width: 100%;
      height: 20px;
      border-top: 4px solid $lmcp-blue;
      background-color: rgba($color: $lmcp-white, $alpha: 0.2);
    }
    img {
      @include gradient-radial(
        $inner-color: $lmcp-lightblue,
        $outer-color: $lmcp-blue
      );
      max-width: 200px;
    }
    .slogan {
      background-color: $lmcp-darkblue;
      padding: 10px;
      color: $lmcp-white;
      text-align: center;
    }
  }
  .carouselTextMobile {
    .carousel-item {
      padding: 10px 50px;
      .cont-carousel-text-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-height: 150px;
      }
    }
  }
}

/* -- Fade in Elemento -- */
.fade-in {
  opacity: 0;
}
/* --      -- */

#preload {
  display: none;
  &.loaded {
    display: block;
    opacity: 0;
    transition: 0.3s ease-in 1s;
  }
}

// Sections
.section-title {
  color: $lmcp-blue;
  &.light {
    color: $lmcp-darkblue;
  }
}

// Director Clinic
.cont-director {
  .director {
    font-family: "monaco", "monospace";
    font-size: 1.2em;
    color: $lmcp-blue;
  }
  .numcol {
    font-family: "monaco", "monospace";
    font-size: 1.2em;
    font-weight: bolder;
  }
  .skill {
    font-size: 1.2em;
    font-weight: bolder;
    color: $lmcp-darkblue;
  }
  .cont-icon {
    color: $lmcp-blue;
    font-size: 4em;
  }
}

// Services
.cont-services {
  .card {
    height: 100%;
  }
}

// History
.elemento {
  background-color: #eee;
  //opacity: 0;
}

// Location & Contact
.adv-shudler {
    font-size: 0.8em;
}

.map-container {
  overflow: hidden;
  height: 450px;
}
.map-container iframe {
  height: 100%;
  width: 100%;
}

// Footer
.cont-footer {
  background-color: $lmcp-darkblue;
  .logo-colegio {
    max-width: 80%;
  }
  .credits {
      font-size: 0.7em;
      h6 {
          font-size: 1em;
      }
  }
}

/* -- Back To Top -- */
.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

// All Elements
.border-left-blue {
  border-left: 4px solid $lmcp-blue;
}
.m-row-tb-mobile {
  @include media-breakpoint-up(xs) {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  @include media-breakpoint-up(sm) {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.no-mobile {
  @include media-breakpoint-up(xs) {
    display: none;
  }
  @include media-breakpoint-up(sm) {
    /*border-color: green;*/
  }
}

.no-display {
    display: none;
}
