/*
 * @uthor: Ale Ruiz
 * Theme: Las Monjas | Clínica Podológica
 */


// Imports
@import "./variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

header {
  .cont-ima {
    overflow: hidden;
    width: 100%;
    height: 75vh;
  }
}
